/COPYING.txt
/lib
/auth.json.sample
/dev
/LICENSE_AFL.txt
/SECURITY.md
/bin
/pub
/generated
/LICENSE.txt
/setup
/CHANGELOG.md
/grunt-config.json.sample
/nginx.conf.sample
/update
/Gruntfile.js.sample
/package.json.sample
/var
/composer.lock
/index.php
/.editorconfig
/.htaccess.sample
/.php_cs.dist
/.travis.yml.sample
/.user.ini
/phpserver
/vendor
/.idea
/.github
.DS_Store
.htaccess
/app/autoload.php
/app/bootstrap.php
/app/design
/app/etc
/app/functions.php


